*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    
    
 background-image: url();
    
}
.cabecera{
    padding: 30px 400px 30px 400px ;
}